
<div class="modal-dialog" role="document">

    <form id="SaveIncomeForm" action="{{ url_for('income') }}" method="post" autocomplete="off">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">Create/Edit Income</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">

                    {{ form.hidden_tag() }}

                    <div class="col-md-12 mb-4">
                        <div class="form-outline">
                            {{ form.name(class='form-control') }}
                            {{ form.name.label(class='form-label') }}
                        </div>
                    </div>

                    <div class="col-md-12 mb-4">
                        <div class="form-outline">
                            {{ form.description(class='form-control') }}
                            {{ form.description.label(class='form-label') }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-outline">
                            {{ form.due_date(class='form-control', type='date') }}
                            {{ form.due_date.label(class='form-label') }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-outline">
                            {{ form.projected_amount(class='form-control', type='number', step='0.01') }}
                            {{ form.projected_amount.label(class='form-label') }}
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <button id="SaveIncomeBtn" type="submit" class="btn btn-primary">Save</button>
            </div>

        </div>

    </form>

</div>

<script>

    $(function ()
    {
        $('button[data-bs-dismiss="modal"]').click(function (e)
        {
            $('#Modal').modal('toggle');
        });

        // since inputs are dynamically loaded onto page, we need to manually initialize them
        document.querySelectorAll('.form-outline').forEach((formOutline) =>
        {
            new mdb.Input(formOutline).init();
        });

        $('#SaveIncomeForm').on('submit', function (e)
        {
            e.preventDefault();

            var self = $(this);

            $('#budget_id').val(budgetID);

            $("#SaveIncomeForm").off("submit");
            self.submit();
        });
    });

</script>