{% extends "layout.html" %}

{% block content %}
<!-- #region Login -->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <form id="LoginForm" action="{{ url_for('login') }}" method="post" autocomplete="off">

                                <h2 class="fw-bold mb-5 text-uppercase">Log In</h2>

                                {{ form.hidden_tag() }}

                                <div class="form-group mb-4">
                                    <div class="form-outline form-white">
                                        {{ form.email(class='form-control', size=64) }}
                                        {{ form.email.label(class='form-label') }}
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div class="form-outline form-white">
                                        {{ form.password(class='form-control', size=32) }}
                                        {{ form.password.label(class='form-label') }}
                                    </div>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a id="forgot-password" href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>

                                <button id="LoginBtn" type="submit" class="btn btn-outline-light btn-lg px-5">Login</button>

                            </form>

                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- #endregion Login -->
{% endblock %}

{% block scripts %}

<script type="text/javascript">

</script>

{% endblock %}